.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  button {
    border-radius: 5px;
    color: #fff;
    background-color: rgb(31, 255, 31);
    padding: 0.5rem 3rem;
    border: 1px solid;
  }
  