@import '../../sass/variable';
.PageChanger {
  ul {
    display: flex;
    justify-content: space-between;

    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 5px 15px $black-light;
    button {
      &:disabled {
        pointer-events: none; //This makes it not clickable
        opacity: 0.6; //This grays it out to look disabled
      }
      all: unset;
      line-height: 50px;
      margin: 0 5px;
      a {
        display: block;
        color: $grey;
        font-weight: 600;
        border-radius: 50%;
      }
    }
    .pagenoContainer {
      display: flex;
      justify-content: center;
      li {
        line-height: 50px;
        margin: 0 5px;
        a {
          display: block;
          color: $grey;
          font-weight: 600;
          border-radius: 50%;
        }
        .active {
          background: $dark-grey;
          counter-reset: $light-grey;
          color: $light-color;
        }
      }
      .pageNumber {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        &:hover a {
          background: $dark-grey;
          counter-reset: $light-color;
          color: $light-color;
        }
      }
    }
    .Next {
      justify-self: flex-end;
      align-self: flex-end;
      margin-left: 30px;
      font-weight: 700;
      font-size: 1.3rem;
      cursor: pointer;
      a {
        i {
          margin-left: 5px;
        }
      }
    }

    .Prev {
      margin-right: 30px;

      font-weight: 700;
      font-size: 1.3rem;
      &:disabled {
        pointer-events: none; //This makes it not clickable
        opacity: 0.6; //This grays it out to look disabled
      }
      a {
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
