@import '../../../sass/variable';
@import '../../../sass/include-media';
.LowerNav {
  ul {
    display: flex;

    border-bottom: $light-grey 1px solid;
    a {
      padding: 5px;
      margin-right: 15px;
      color: $grey;
      font-size: 1.2rem;
      border-bottom: transparent solid 3px;
      &:hover {
        color: $primary-color;
        border-bottom: $primary-color 3px solid;
      }
    }
    .active {
      color: $primary-color;
      border-bottom: $primary-color 3px solid;
    }
  }

  @include media('>phone', '<=large-phone') {
    ul {
      flex-direction: column;
      a {
        font-size: 1rem;
      }
    }
  }
  @include media('<=phone') {
    ul {
      flex-direction: column;
      a {
        font-size: 0.8rem;
      }
    }
  }
}
