@import '../../sass/variable';
@import '../../sass/include-media';
.Footer {
  background: #000;
  color: #fff;
  height: 100px;
  display: grid;
  align-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .border {
    border: 1px solid $light-color;
    margin: 1.5rem 0;
  }

  .Nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    .Logo {
      height: 30px;
      margin-top: -5px;
    }
    .NavElements {
      display: flex;
      flex-direction: row;
      width: 20vw;
      justify-content: space-evenly;

      .NavElement {
        a {
          color: inherit;
          &:hover {
            border-bottom: 2px solid $light-color;
          }
        }
      }
    }
  }

  @include media('<=phone') {
    height: 60px;

    .border {
      margin: 0.5rem 0;
    }

    .Nav {
      .Logo {
        height: 10px;
        margin-top: -2px;
        margin-left: 10px;
      }
      .NavElements {
        width: 34vw;

        .NavElement {
          a {
            font-size: 0.5rem;
            margin-right: 5px;
          }
        }
      }
    }
  }

  @include media('>phone', '<=large-phone') {
    height: 60px;

    .border {
      margin: 0.7rem 0;
    }

    .Nav {
      .Logo {
        height: 15px;
        margin-top: -3px;
        margin-left: 10px;
      }
      .NavElements {
        width: 20vw;

        .NavElement {
          margin-right: 10px;
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
