.Footer {
  background: #000;
  color: #fff;
  height: 15vh;
  display: grid;
  grid-template-columns: 7vw 1fr 7vw;
  grid-template-rows: auto auto;
  .Nav {
    grid-column: 2 / 3;
    border-top: 2px solid rgb(255, 255, 255);
    display: flex;

    justify-content: space-between;
    align-content: center;

    .NavElement {
      display: flex;
      flex-direction: row;
      width: 20vw;
      justify-content: space-evenly;
    }
  }
}
