@import '../../../sass/variable';
@import '../../../sass/include-media';
.UpperNav {
  display: flex;
  justify-content: space-between;

  .Logo {
    margin: auto 10px;
    margin-top: 8px;
    margin-left: 5px;
    height: 30px;
  }
  .WrapSearch {
    display: flex;
    .Social {
      display: flex;
      margin: auto 10px;
      justify-content: space-evenly;
      div {
        margin-right: 10px;
      }

      a {
        width: 5px;
        i {
          color: $secondary-color;
          .icon {
            width: 22px;
          }

          &:hover {
            color: rgb(50, 252, 24);
          }
        }
      }
    }
  }

  @include media('<=phone') {
    box-sizing: border-box;
    flex-direction: column;
    .Logo {
      height: 25px;
      margin-left: 5%;
    }
    .WrapSearch {
      flex-direction: column;

      .Social {
        div {
          margin-top: 15px;
          margin-right: 10px;
        }
      }
    }
  }

  @include media('>phone', '<=large-phone') {
    box-sizing: border-box;
    flex-direction: column;
    .Logo {
      height: 32px;
      margin-left: 2%;
    }
    .WrapSearch {
      flex-direction: column;
    }
  }
}
