@import '../../../sass/variable';

.UpperNav {
  display: flex;
  justify-content: space-between;

  .Logo {
    margin: auto 10px;
    margin-top: 8px;
    margin-left: 5px;
    height: 30px;
  }
  .WrapSearch {
    display: flex;
    .Social {
      display: flex;
      margin: auto 10px;
      justify-content: space-evenly;
      div {
        margin-right: 10px;
      }

      a {
        width: 5px;
        i {
          color: $secondary-color;

          &:hover {
            color: rgb(50, 252, 24);
          }
        }
      }
    }
  }

  @media (max-width: 499px) {
    flex-direction: column;
    .Logo {
      height: 28px;
      margin-left: 10%;
    }
    .WrapSearch {
      flex-direction: column;
      .Social {
        div {
          margin-top: 15px;
          margin-right: 30px;
        }
      }
    }
  }
}
